.container {
  /* margin: 0 0 20px 20px; */
  margin-bottom: 20px;
}

.container li {
  display: inline-block;
  padding: 0 20px 3px;
  background: darkgreen;
  transform: skew(-20deg);
  cursor: pointer;
  opacity: 0.8;
  margin-right: 5px;
}

.container li:hover {
  opacity: 1;
}

.container li a {
  display: block;
  transform: skew(20deg);
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .container {
    margin-top: 50px;
  }
}
