.container {
  display: flex;
  align-items: center;
}

.container button {
  opacity: 0.2;
}

.container button:hover {
  opacity: 0.5;
}

.container button:disabled {
  border: 1px solid red;
}

.container li {
  min-height: 380px;
}
