.container {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
  z-index: 1;
}

.inner {
  display: flex;
  margin-bottom: 10px;
}

/* .inner:hover {
  border-bottom: 0;
} */

.logo {
  display: flex;
}

.lge {
  display: flex;
  width: 100%;
}

.sml,
.banner {
  display: none;
}

.subHdr {
  display: flex;
  padding: 0 20px;
}

.subHdr ul {
  flex-grow: 1;
}

.ak {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .inner {
    margin-bottom: 0;
  }

  .lge {
    display: none;
  }

  .sml {
    display: flex;
    width: 100%;
  }

  .banner {
    display: block;
    font-size: 18px;
  }
}
