.container {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
  z-index: 1;
}

.inner {
  display: flex;
  margin-bottom: 10px;
}

.logo {
  display: flex;
}

.ak {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

.akText {
  font-size: 16px;
  font-weight: bold;
  transform: rotate(-3deg);
  line-height: 16px;
  margin-top: 3px;
  white-space: nowrap;
}

.underlined {
  position: relative;
}

.ulineMask:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}

.ulineOver {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.ulineOver:after {
  content: "";
  position: absolute;
  top: 60%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid #06b47d;
}

.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.lge {
  display: flex;
  width: 100%;
}

.sml,
.banner {
  display: none;
}

.subHdr {
  display: flex;
  padding: 0 20px;
}

.subHdr ul {
  flex-grow: 1;
}

.ak {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .inner {
    margin-bottom: 0;
  }

  .lge {
    display: none;
  }

  .sml {
    display: flex;
    width: 100%;
  }

  .banner {
    display: block;
    font-size: 18px;
  }
}
