.container {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
  z-index: 1;
}

.inner {
  display: flex; 
  margin-bottom: 10px;
}

/* .inner:hover {
  border-bottom: 0;
} */

.logo {
  display: flex;
}

.subHdr {
  display: flex;
  padding: 0 20px;
}

.subHdr ul {
  flex-grow: 1;
}

.ak {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
