.product130h {
  position: relative;
  height: 130px;
}

.productShoe {
  position: relative;
  height: 400px;
  width: 400px;
}

.cartImage {
  position: relative;
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 900px) {
  .cartImage {
    position: relative;
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .cartImage {
    position: relative;
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .cartImage {
    position: relative;
    height: 250px;
    width: 250px;
  }
}
/* 
@media screen and (max-width: 500px) {
  .cartImage {
    position: relative;
    height: 150px;
    width: 150px;
  }
} */
