.container {
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  border: 1px solid #d3d3d3;
  margin: 5px;
  padding: 10px;
  text-align: center;
  flex: 1;
}
.listItem:hover {
  border: 1px solid #999;
}

.name {
  font-size: 16px;
  margin-bottom: 20px;
}
