.container {
  display: flex;
}

.imgs {
  display: flex;
  flex-direction: column;
}

.description {
  margin-left: 40px;
  max-width: 760px;
}

.info {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 20px;
}

.infoBlock {
  margin: 20px 0;
}

.infoBlock h3 {
  margin-bottom: 10px;
}

.name {
  text-align: center;
}

.afterPay {
  color: #555;
  font-size: 20px;
  margin-bottom: 20px;
}

.sizeHdr {
  display: flex;
}

.hdr {
  flex-grow: 1;
}

.shoeSizes {
  padding: 12px 15px;
  border: 1px solid #d3d3d3;
  background-color: #f6f6f6;
  margin-right: 10px;
  display: inline-block;
  cursor: not-allowed;
  margin-bottom: 20px;
  font-size: 24px;
}

.available {
  border: 1px solid #d3d3d3;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.strike {
  position: relative;
  color: #d3d3d3;
  font-weight: bold;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 45%;
    right: 0;
    border-top: 1px solid;
    border-color: #d3d3d3;
    -webkit-transform: skewY(-40deg);
    -moz-transform: skewY(-40deg);
    transform: skewY(-40deg);
  }
}

.selected {
  background-color: green;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.deliveryList {
  display: flex;
  text-align: center;
}

.deliveryList li {
  padding: 5px;
  border-right: 1px solid #d3d3d3;
  flex: 1;
}

.deliveryList li:last-child {
  border-right: 0;
}

.deliveryText {
  font-size: 13px;
  color: #888;
}

.header {
  margin-bottom: 10px;
  font-size: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: green;
  color: #fff;
  padding: 20px;
}

.details li {
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 5px;
}

.details li b {
  flex-grow: 1;
}

.details li span {
  text-align: right;
}

.errorMsg {
  color: #f00;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .description {
    margin-left: 0;
  }

  .imgs {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 650px) {
}
